################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Gimp-DDS/v14
*.exe
*.o
*.db
*.vcxproj
*.filters
*.sln
*.opendb
/Makefile.Windows
